/* SAH Admin — custom styles */

/* Top navigation bar links */
nav a *,
nav button {
  font-size: 16px !important;
}

.dzFGjH {
  font-size: 16px !important;
}

.fEpWbz {
  font-size: 1.6rem !important;
  color: #060608 !important;
}

.fUIgBA {
  font-size: 20px !important;
}
